html {
    font-size: 62.5%;
    box-sizing: border-box;
}
main {
    min-height: 91vh;
}
footer {
    background-color: #7b8a8b;
}
/* BBNavbar start */
.bb-navbar-brand {
    font-size: 2rem;
    color: yellowgreen;
}
.bb-navbar-nav a {
    font-size: 1.6rem;
}
.bb-navbar-nav.login-profile {
    margin-left: auto;
}
.bb-navbar-dropdown {
    font-size: 1.4rem;
}
/* BBNavbar end */

/* Login screen start */
.login-card {
    padding: 1rem;
    font-size: 1.4rem;
    width: 30rem;
    margin: auto;
}
/* Login screen end */

/* BBMessage start */
.bb-message {
    font-size: 1.2rem;
}
/* BBMessage end */

/* BBEmployeePic start */
.employee-pic {
}
/* BBEmployeePic end */

/* Enroll employee start */
.enroll-employee-form {
    font-size: 1.8rem;
    margin-top: 4rem;
}
.enroll-employee-form input {
    font-size: 1.6rem;
    width: 35rem;
}
/* Enroll employee end */

/* Image Cropper start */
.crop-wrapper {
    position: relative;
    height: 30rem;
}
.cropped-candidate {
    max-width: 30rem;
}
.profile-pic-preview {
    max-width: 10rem;
}
/* Image Cropper end */
